transformers>=4.33.2
torch>=2.0.1
streamlit
yfinance
textblob
requests
pandas
numpy
matplotlib
seaborn
scikit-learn
pandas-ta==0.3.14b0
numpy>=1.24.2,<2.0
pandas>=1.5.3,<2.0
plotly
beautifulsoup4
scipy
serpapi
